#cssmenu ul{
    background-color: rgba(36, 186, 230, 0.71);
    text-align: right;
}

#cssmenu ul li{
    color: #333;
    display: inline-block;
    padding:1rem;
    position: relative;
}

#cssmenu ul li a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 12px;

}

#cssmenu ul li ul{
    display: none;
}

#cssmenu ul li:hover{
    cursor: pointer;
    background: var(--primary-color);
    color: #167a98;
}

#cssmenu ul li:hover a{
    color: #167a98;
}

#cssmenu ul li:hover ul{
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
}