*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 500px;
    text-align: center;
    padding-top: 100px;
    background-image: url(../images/barinheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
