*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 500px;
    text-align: center;
    padding-top: 150px;
    background-image: url(../images/barinheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family:fantasy;
    font-size: 80px;
}

h2 {
    font-size: 30px;
    color: rgba(36, 186, 230, 0.71);
    padding-top: 50px;
    text-align: center;
}

h3 {
    color: rgba(36, 186, 230, 0.71);
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 3;
}

#wrapper{
    padding-top: 20px;
    padding-left: 150px;
}

#center {
    padding: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#map {
    padding:34%;
    padding-top: 20px;
}

#bars img{
    margin-bottom:20px;
    cursor:pointer;
}

#bars :hover img{
    animation: run 1.5s;
}

@keyframes run{
    0%{ transform:scale(0.8);}
    25%{transform:scale(1.2);}
    50%{transform:scale(1);}
    70%{transform:scale(1.1);}
    100%{transform:scale(1);}
}

#div1 {
    position: relative;
    float:left;
}

#div2 {
    position: relative;
    float:left;
}

#div3 {
    position: relative;
    float:left;
}

#div4 {
    position: relative;
    float:left;
}

#div5 {
    position: relative;
    float:left;
}


#span1 {
    font-family:fantasy;
    font-size: 50px;
    position: absolute;
    bottom: 120px;
    left: 170px;
    text-align: center;
    color: black;
    display: none;
}

#span2 {
    font-family:fantasy;
    font-size: 50px;
    position: absolute;
    bottom: 120px;
    left: 200px;
    text-align: center;
    color: black;
    display: none;
}

#span3 {
    font-family:fantasy;
    font-size: 50px;
    position: absolute;
    bottom: 120px;
    left: 145px;
    text-align: center;
    color: black;
    display: none;
}

#span4 {
    font-family:fantasy;
    font-size: 50px;
    position: absolute;
    bottom: 120px;
    left: 170px;
    text-align: center;
    color: black;
    display: none;
}

#span5 {
    font-family:fantasy;
    font-size: 50px;
    position: absolute;
    bottom: 120px;
    left: 170px;
    text-align: center;
    color: black;
    display: none;
}

#bars :hover span{
    animation: run 1.5s;
    display: block;
}

a img {
    padding-left: 100px;
    padding-top: 50px;
    height: 300px;
    width: 500px;    
}

aside {
    padding-right: 10%;
    width: 30%;
}

footer {
    clear:both;
    padding: 1em; 
    padding-top: 20%;
    text-align:center;
    bottom: 20px;
    width: 100%;
}